<header >
	<h1>AXN SERVICE AUTO</h1>
</header>
 
<section >
 
  <nav>
    <ul class="menu">
      <li><a routerLink="/" routerLinkActive="active">Acasă</a> </li>

	  <li><a routerLink="/P" routerLinkActive="active">Programare</a> </li>
      <li><a href="/About">Contact</a></li>
      <li><a a routerLink="/servicii" routerLinkActive="active">Servicii</a></li>

    </ul>
  </nav>

  <br>
  <br>

  <br>

  <br>

  <br>

  <div class="contact-logo">
    <span>Contact</span>
  </div>
  



  <table>
    <tr>
      <th>Nume</th>
      <td>Service Auto Specializat BMW</td>
    </tr>
    <tr>
      <th>Adresă</th>
      <td>Strada Mihai Viteazu, nr. 140, Șelimbăr, Sibiu</td>
    </tr>
    <tr>
      <th>Telefon</th>
      <td>0749874846</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>contact@servicebmwselimbar.com</td>
    </tr>
  </table>

  <br>
  <br>

  <br>

  <br>

 

  

  <img src="assets/images/contact.jpg" alt="CONTACT US" class="imagine-contact">

  <br>
  <br>
  <br>

  <br>

  <br>

  <br>
  <br>
  <br>

 


  
</section>

 

<div>

    <footer>
        <div class="container">
           <p>&copy; 2023 Service Auto BMW-Selimbar. Toate drepturile rezervate.</p>
        </div>
     </footer>

</div>