<header >
	<h1>AXN SERVICE AUTO</h1>
</header>
 
<section >
 
  <nav>
    <ul class="menu">
      <li><a routerLink="/" routerLinkActive="active">Acasă</a> </li>

	  <li><a routerLink="/P" routerLinkActive="active">Programare</a> </li>
      <li><a href="/About">Contact</a></li>
      <li><a href="#">Servicii</a></li>

    </ul>
  </nav>

  <br>
  <br>


  <table>
    <thead>
      <tr>
        <th>Model</th>
        <th>Schimb ulei</th>
        <th>Schimb distribuție</th>
        <th>Diagnosticare</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>BMW Seria 1/2/3</td>
        <td>700 RON</td>
        <td>2300 RON</td>
        <td>300 RON</td>
      </tr>
      <tr>
        <td>BMW Seria 4/5</td>
        <td>850 RON</td>
        <td>2500 RON</td>
        <td>400 RON</td>
      </tr>
      <tr>
        <td>BMW Seria 6/7/8</td>
        <td>1100 RON</td>
        <td>3000 RON</td>
        <td>550 RON</td>
      </tr>
      <tr>
        <td>BMW X1/X2</td>
        <td>750 RON</td>
        <td>2400 RON</td>
        <td>350 RON</td>
      </tr>
      <tr>
        <td>BMW X3/X4</td>
        <td>950 RON</td>
        <td>2650 RON</td>
        <td>450 RON</td>
      </tr>
      <tr>
        <td>BMW X5/X6</td>
        <td>1200 RON</td>
        <td>3300 RON</td>
        <td>550 RON</td>
      </tr>
      <tr>
        <td>BMW X7</td>
        <td>1300 RON</td>
        <td>3450 RON</td>
        <td>600 RON</td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>
  <br>



  <table>
    <thead>
      <tr>
        <th>Model</th>
        <th>Schimb ulei frane </th>
        <th>Schimb Placute+Discuri</th>
        <th>Schimb Placute</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>BMW Seria 1/2/3</td>
        <td>400 RON</td>
        <td>2000 RON</td>
        <td>600 RON</td>
      </tr>
      <tr>
        <td>BMW Seria 4/5</td>
        <td>650 RON</td>
        <td>2300 RON</td>
        <td>700 RON</td>
      </tr>
      <tr>
        <td>BMW Seria 6/7/8</td>
        <td>800 RON</td>
        <td>2550 RON</td>
        <td>800 RON</td>
      </tr>
      <tr>
        <td>BMW X1/X2</td>
        <td>450 RON</td>
        <td>2100 RON</td>
        <td>650 RON</td>
      </tr>
      <tr>
        <td>BMW X3/X4</td>
        <td>850 RON</td>
        <td>2350 RON</td>
        <td>700 RON</td>
      </tr>
      <tr>
        <td>BMW X5/X6</td>
        <td>1000 RON</td>
        <td>2600 RON</td>
        <td>850 RON</td>
      </tr>
      <tr>
        <td>BMW X7</td>
        <td>1100 RON</td>
        <td>2850 RON</td>
        <td>800 RON</td>
      </tr>
    </tbody>
  </table>


  <p class="disclaimer">Siguranța clienților noștri este o prioritate pentru noi, motiv pentru care dorim să subliniem faptul că prețurile prezentate în tabelul nostru sunt aproximative și pot varia în funcție de necesitățile individuale ale fiecărui vehicul și de cerințele specifice ale serviciilor solicitate. Înainte de a efectua orice servicii, veți fi informat cu privire la prețul estimat și veți primi o descriere detaliată a lucrărilor ce urmează să fie efectuate asupra mașinii dumneavoastră. Suntem dedicați în a furniza servicii de calitate și suntem întotdeauna la dispoziția clienților noștri pentru a răspunde la orice întrebări sau nelămuriri. Pentru mai multe informații, nu ezitați să ne contactați.</p>


  <footer>
    <div class="container">
       <p>&copy; 2023 Service Auto BMW. Toate drepturile rezervate.</p>
    </div>
 </footer>




