<header >
	<h1>AXN SERVICE AUTO</h1>
</header>
 
<section >
 
  <nav>
    <ul class="menu">
      <li><a routerLink="/ " routerLinkActive="active">Acasă</a> </li>

	  <li><a routerLink="/P" routerLinkActive="active">Programare</a> </li>
      <li><a a routerLink="/About" routerLinkActive="active">Contact</a></li>
      <li><a a routerLink="/servicii" routerLinkActive="active">Servicii</a></li>

    </ul>
  </nav>


  <h1 style="color: rgb(255, 255, 255); size:10;">Service Auto Specializat BMW</h1>
	<p class="paragrafe">Bine ați venit la service-ul nostru auto specializat în reparații și întreținerea autoturismelor BMW. Echipa noastră de mecanici calificați și specializați în marca BMW sunt pregătiți să ofere cele mai bune servicii pentru autoturismul dumneavoastră.</p>
	<p class="paragrafe">Indiferent de modelul BMW deținut, la service-ul nostru veți beneficia de o gamă completă de servicii, de la revizii periodice și schimburi de ulei, până la reparații complexe la motor și transmisie. De asemenea, suntem specializați în diagnoza și repararea sistemelor electronice și electrice ale autoturismelor BMW.</p>
	<p class="paragrafe">Cu ani de experiență în domeniul auto și un portofoliu impresionant de clienți mulțumiți, suntem convinși că putem oferi servicii de calitate la prețuri competitive. De asemenea, folosim numai piese de schimb și accesorii originale BMW pentru a ne asigura că autoturismul dumneavoastră este întreținut conform standardelor de calitate ale producătorului.</p>
	<p class="paragrafe">Nu ezitați să ne contactați pentru a stabili o programare și pentru a beneficia de cele mai bune servicii pentru autoturismul dumneavoastră BMW.</p>

  <table>
	<tr>
	  <td><img src="assets/images/imagine1.jpg" alt="Imaginea 1"></td>
	  <td><img src="assets/images/imagine2.jpg" alt="Imaginea 2"></td>
	</tr>
	<tr>
	  <td><img src="assets/images/imagine3.jpg" alt="Imaginea 3"></td>
	  <td><img src="assets/images/imagine4.jpg" alt="Imaginea 4"></td>
	</tr>
  </table>
  
 

  <footer>
	<div class="container">
	   <p id="p1">&copy; 2023 Service Auto BMW. Toate drepturile rezervate.</p>
	</div>
 </footer>
</section>

 


	
	 
